<div class="main">
        <h2>Music and Coding experiments</h2>
        <p>
        Central repository and analysis of your music tastes and events over time
        </p>
        <p>
        Connect to your favorite music APIs and register your user name.
        </p>
        <ul>
                <li>Last.fm</li>
                <li>Setlist.fm</li>
        </ul>
        <p>
        We will show you the most important information and see how your listening tastes mature or branch into new forms
        <img src="imgs/chart.png" width ='700px'>
        </p>
        <p>
        See how an individual concert affected your genre preferences for the next few weeks.
        </p>
        <p>
        Did a single artist recommendation from a friend help you discover an entire new branch of Garage Rock?
        </p>

</div>